<p id="notice"><%= notice %></p>

<center><h1>Phones</h1></center>
    <br>
<center><table  class="table table-striped">
  <thead>
     <tr class="success">
      <th>Name</th>
      <th>Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Note</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.name %></td>
        <td><%= phone.number %></td>
        <td><%= phone.email %></td>
        <td><%= phone.address %></td>
        <td><%= phone.note %></td>
        <td><%= link_to 'Show', phone %></td>
        <td><%= link_to 'Edit', edit_phone_path(phone) %></td>
        <td><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></center>

<br>
